<div class="bg-dark bg-gradient">
  <footer class="container">
    <ul class="nav flex-column flex-md-row justify-content-md-center">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">&Agrave; propos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="#">Mentions légales</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="#">Contact</a>
      </li>
    </ul>
  </footer>
</div>
