<div class="col-12 col-md-4 my-1">
  <div class="card card--home h-100 shadow-sm">
    <article class="card-body text-md-center">
      <img
        class="card-img-top text-center"
        src="<%= cardImg %>"
        alt="TODO: add an alt text"
      />
      <div class="card-body">
        <h2 class="card-title h4"><%= cardTitle %></h2>
        <p class="card-text">
          <%= cardText %>
        </p>
      </div>
    </article>
  </div>
</div>