<!DOCTYPE html>

<html lang="fr">
  <%- include('parts/head', {title: "Space School | Module 1"}) %>

  <body>
    <%- include('parts/layout/header.ejs', {home: false}) %>

    <main class="container">
      <section class="row py-4 bg-light">
        <div class="col-12 col-md-4 p-module-img">
          <img
            class="w-100 my-2"
            src="img/lessons/combinaisons-spatiales.jpg"
            alt="TODO: add an alt text"
          />
        </div>

        <div class="col-12 col-md-8 px-3">
          <div
            class="alert alert-info alert-dismissible fade show mt-2 shadow-sm"
            role="alert"
          >
            Vous pourrez prochainement acheter ici votre combinaison spatiale
            sur mesure !
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="alert"
              aria-label="Fermer"
            ></button>
          </div>

          <article class="pb-2">
            <h1 class="my-2">S'habiller pour l'espace</h1>

            <h2 class="text-muted my-3">Aperçu</h2>

            <p>
              Les voyageurs de l'espace ont une garde-robe assurément limitée.
              Pourtant, enfiler une combinaison spatiale n'est pas une partie de
              plaisir.
            </p>

            <p>Dans ce module, vous apprendrez :</p>

            <ul>
              <li>l'anatomie complète d'une combinaison</li>
              <li>
                toutes les couches que vous devrez revêtir pour être prêt à
                affronter le vide
              </li>
              <li>l'ordre dans lequel enfiler les différents composants</li>
            </ul>
          </article>

          <form class="px-4 py-3 shadow bg-white">
            <h2 class="h3">Vos notes</h2>

            <div class="mb-2">
              <label class="form-label h6" for="note-timemark">
                Repère vidéo
              </label>
              <input
                class="form-floating"
                id="note-timemark"
                type="text"
                placeholder="mm:ss"
              />
            </div>

            <div>
              <textarea
                class="form-control"
                id="note-text"
                rows="5"
                placeholder="écrivez vos notes ici"
                required
              ></textarea>
            </div>

            <div class="form-check form-switch my-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="public-note-checkbox"
              />
              <label class="form-check-label h6" for="public-note-checkbox">
                Rendre cette note publique
              </label>
            </div>

            <button
              class="btn btn-primary h5 shadow-sm text-white"
              type="submit"
            >
              Enregistrer la note
            </button>
          </form>
        </div>
      </section>
    </main>

    <%- include('parts/layout/footer.ejs') %>

    <!-- Bootstrap 5 JS: -->
    <%- include('parts/bootstrap-js') %>
  </body>
</html>
