<head>
  <meta charset="utf-8" />
  <title><%= title %></title>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="robots" content="nofollow" />

  <!-- Place favicon.ico in the root directory: -->
  <link rel="icon" type="image/png" href="icon.png" />
  <link rel="apple-touch-icon" href="icon.png" />

  <!-- Bootstrap 5 CSS: -->
  <!-- nowcompiled with custom CSS -->

  <!-- Custom CSS: -->
  <link rel="stylesheet" href="css/main.css" />
</head>
