<head>
  <meta charset="utf-8" />
  <title><%= title %></title>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="robots" content="nofollow" />

  <!-- Place favicon.ico in the root directory: -->
  <link rel="icon" type="image/png" href="icon.png" />
  <link rel="apple-touch-icon" href="icon.png" />

  <!-- Bootstrap 5 CSS: -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  />
  <!-- Custom CSS: -->
  <link rel="stylesheet" href="css/style.css" />
</head>
